<!doctype html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.gif') }}" type ="image/gif">
<title>Fetch! - bak bak</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
<h1>Fetch!</h1>
    {% if data %}
      <h1>Şuralara bak:</h1>
       <div class=entries>
          {% for message in data %}    
		<h2>{{ message.id}}. <a href = 'shomme/{{ message.filename}}/{{message.page}}'>{{message.querry}}</a></h2>
          {% endfor %}
       </div>
    {% else %}
      <h1>Bulamadım</h1>
  {% endif %} 


</div>
