<!doctype html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<title>Fetch!</title>
<script>
loc = document.location.href
console.log(loc);
var parts = loc.split("/");
last = parts[parts.length - 1]
document.onkeydown = function(e) {
    switch (e.keyCode) {
        case 37:
            window.location.assign(parseInt(last)-1);
            break;
        case 39:
             window.location.assign(parseInt(last)+1);
break;
}
};
function next(){
	window.location.assign(parseInt(last)+1);
};
function previous(){
    window.location.assign(parseInt(last)-1);
};
</script>
</head>
<body>
<img style="margin-left: auto; margin-right: auto;" src="/loco/{{dirname}}/{{number}}"></img>
</br>
</br>

<form>
<input type="button" id="button2" onclick="previous()"
value="<<<<">
<input type="button" id="button1" onclick="next()"
value=">>>>">
</form>

</body>
